<?php
/* @var $resource \DoctrineRestModule\Rest\HomeResource */
$resource = $this->resource;

/* @var $request \Zend\Http\Request */
$request = $this->request;

/* @var $response \Zend\Http\Response */
$response = $this->response;

$url = $this->url(null, [], ['force_canonical' => true], true);
$resources = $resource->toArray()['resources'];
?>
<div class="row">
    <div class="col-sm-12">
        <h1>
            <?= $resource->getTitle() ?>
            <small><?= $url ?></small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#result" role="tab" data-toggle="tab">Resources</a></li>
            <li role="presentation"><a href="#json" role="tab" data-toggle="tab">JSON</a></li>
            <li role="presentation"><a href="#http" role="tab" data-toggle="tab">HTTP</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="result">
                <div class="list-group">
                    <?php foreach ($resources as $details) : ?>
                        <?php $href = $this->url($details['route'], ['name' => $details['name']], ['force_canonical' => true]) ?>
                        <a href="<?= $href ?>" class="list-group-item">
                            <h4><?= $details['title'] ?></h4>
                            <p><?= $href ?></p>
                        </a>
                    <?php endforeach ?>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="json">
                <h4>CURL Command Line</h4>
                <pre>curl -i -H "Accept: application/hal+json" "<?= $url ?>"</pre>

                <h4>JSON Output</h4>
                <pre><?= $resource->toJson() ?></pre>
            </div>
            <div role="tabpanel" class="tab-pane" id="http">
                <h4>Request</h4>
                <pre><?= $request ?></pre>

                <h4>Response</h4>
                <pre><?= $response ?></pre>
            </div>
        </div>
    </div>
</div>