<?php
/* @var $resource \DoctrineRestModule\Rest\ApiProblem */
$resource = $this->resource;

/* @var $request \Zend\Http\Request */
$request = $this->request;

/* @var $response \Zend\Http\Response */
$response = $this->response;

$data = $resource->toArray();
$json = $this->json($data, ['prettyPrint' => true]);
?>
<div class="row">
    <div class="col-sm-12">
        <h1><?= $data['title'] ?></h1>
        <table class="table table-hover">
            <tr>
                <th>Detail</th>
                <td><?= $data['detail'] ?></td>
            </tr>
            <tr>
                <th>HTTP Status Code</th>
                <td><?= $data['http_status'] ?></td>
            </tr>
            <tr>
                <th>Described By</th>
                <td><a href="<?= $data['described_by'] ?>" target="_blank"><?= $data['described_by'] ?></a></td>
            </tr>
        </table>

        <h2>Request</h2>
        <pre><?= $request ?></pre>

        <h2>Response</h2>
        <pre><?= $response ?><?= $json ?></pre>
    </div>
</div>